body {
    text-rendering:optimizeLegibility; 
    font-family:Arial, Times, Cambria, serif; 
    font-size:1em; line-height:22px; color:#333; background:#F6F6F6; 

}

div.content {
    width:946px; margin:5px auto; padding:3em 1em 1em 1em;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    line-height:150%;
    text-align: center;
    font-size:20pt;
    font-family:Arial, Serif;

}

.banner{
  text-align:center;
  font-family:Arial;
  font-size:12pt;
  line-height:100%;
}

div.sec {
    padding: 0.0em 0;
}

div.authors{
    text-align: center;
    width: 90%;
    margin: auto;
    font-family: Arial, Serif;
    font-size:12pt;
}

div.author{
    font-weight:bold;
    display: inline;
    padding: 0 1em;
}


div.links {
    dispaly: inline;
    padding-top: 1em;
}

div.affiliation{
}

.bibtex{
    padding-left: 20px;
    white-space: pre;
}


div.link{
    display: inline;
    padding-right: 1em;
}


div.picture_wrapper {
    text-align:center;
    overflow:visible; 
    padding: 2em 0 0.5em 0;
    width:920px;
}
.picture_wrapper img { 
    width:800px;
}
.picture_wrapper2 img { 
    width:600px;
}
.download_sec a{
    text-decoration:none;
    color: #665cbe;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}
.download_sec a:hover{
    color:#000000;
}

.download_sec li{
    padding-bottom: 8px;
}

.download_sec{
    padding: 0.5em 0 0.5em 0;
}

.citation_sec{
    padding: 0.5em 0 0.5em 0;
    /*display: none;*/
}

div.desp {
}
